@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 614px;
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.telaEntrada {
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.telaEntrada img {
  width: 120px;
}

.telaEntrada .logo {
  margin-top: 72px;
}

.digitar input {
  width: 261px;
  height: 54px;
  margin-top: 258px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  text-align: center;
  color: #696969;
}

.digitar-msg input {
  font-style: italic;
  border: none;
  font-size: 18px;
}
.entrar {
  width: 109px;
  height: 45px;
  border-radius: 9px;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 60%;
}
.topo,
.digitar-msg {
  width: 614px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.digitar-msg {
  position: fixed;
  bottom: 0;
}

.topo {
  position: fixed;
  top: 0;
}

.logo {
  width: 75px;
}

ion-icon {
  font-size: 40px;
}

.mensagensRenderizadas {
  width: 614px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.msg-status {
  background-color: #dcdcdc;
  margin-bottom: 5px;
  height: auto;
  padding: 20px;
}

.msg-reservada {
  background-color: #ffdede;
  margin-bottom: 5px;
  height: auto;
  padding: 20px;
 
}

.msg-normal {
  background-color: #ffffff;
  margin-bottom: 5px;
  height: auto;
  padding: 20px;
}

.escondido {
  display: none;
}
